README.md                   text eol=crlf
*.lua                       text eol=crlf
*.anm                       text eol=crlf
*.obj                       text eol=crlf
*.exa                       text eol=crlf
src/lua/contents/CREDITS.md text eol=crlf
